body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;

  background:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("images/korea.jpg") no-repeat center center fixed;

  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-title {
  color: #ffffff;
  font-size: 24spx;
  font-weight: bold;
  margin-bottom: 25px;
  text-shadow: 0 4px 12px rgba(0,0,0,0.8);
}

.login-box {
  background: rgba(255,255,255,0.15)s;
  backdrop-filter: blur(8px);
  padding: 40px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0,0,0,0.5);
  text-align: center;
}
.login-box input {
  width: 85%;
  padding: 14px 16px;
  margin: 12px 0;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  outline: none;

  background: rgba(255,255,255,0.9);
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.2);
}

.login-box input::placeholder {
  color: #666;
}

.login-box button {
  width: 50%;
  padding: 14px;
  margin-top: 18px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  background: #111;
  color: #fff;

  transition: all 0.3s ease;
}

.login-box button:hover {
  background: #000;
  transform: translateY(-2px);
}


